<game-page>
<div id="anim">
<div class="flex-container1" id = "container">
    <div><img wid = "elephant" src="elephant.jpg" alt="broken"></div>
    <div wid = "giraffe" class="picnames" id = "2">Giraffe</div> 
    <div><img wid = "lion" src="lion.jpg" alt="broken"></div>
</div>

<div class="flex-container1" id = "container">
    <div wid = "parrot" class="picnames" id = "4">Parrot</div>
    <div><img wid = "zebra" src="zebra.jpg" alt="broken"></div>
    <div wid = "tiger" class="picnames" id = "6">Tiger</div>
</div>

<div class="flex-container1" id = "container">
    <div><img wid = "giraffe" src="giraffe.jpg" alt="broken"></div>
    <div class="picnames" wid = "elephant">Elephant</div>
    <div><img wid = "parrot" src="parrot.jpg" alt="broken"></div>
</div>

<div class="flex-container1" id = "container">
    <div wid = "lion" class="picnames" id = "4">Lion</div>
    <div><img wid = "tiger" src="tiger.jpg" alt="broken"></div>
    <div wid = "zebra" class="picnames" id = "4">Zebra</div>
</div>
<div id = "animale">
<button>End Game</button>
<p>Current Score: </p>
</div>
{{!-- update current score --}}
</div>
</game-page>


<script src="user-form.js"> </script>