<game-page>
<div class="animal">
<div class="container2" id="animalcont">
<div>
<svg width="715" height="750" id="anim"
  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">       
  <image id="a1" wid = "elephant" href="nelephant.jpg" height="150" width="200" y="10" x="10"/>
  <image id="a2" wid = "giraffe" href="gira.jpg" height="150" width="200" x="250" y="10"/>
  <image id="a3" wid = "lion" href="nlion.jpg" height="150" width="200"  x="500" y="10"/>
  <image id="a4" wid = "parrot" href="par.jpg" height="150" width="200" y="170" x="10"/>
  <image id="a5" wid = "zebra" href="zebra.jpg" height="150" width="200" x="250" y="170"/>
  <image id="a6" wid = "tiger" href="tig.jpg" height="150" width="200" x="500" y="170"/>
  <image id="a7" wid = "giraffe" href="ngiraffe.jpg" height="150" width="200" y="330" x="10"/>
  <image id="a8" wid = "elephant" href="elep.jpg" height="150" width="200" x="250" y="330"/>
  <image id="a9" wid = "parrot" href="parrot.jpg" height="150" width="200" x="500" y="330"/>
  <image id="a10" wid = "lion" href="lio.jpg" height="150" width="200" y="490" x="10"/>
  <image id="a11" wid = "tiger" href="tiger.jpg" height="150" width="200" x="250" y="490"/>
  <image id="a12" wid = "zebra" href="zeb.jpg" height="150" width="200" x="500" y="490"/>
</svg>
</div>
<div class="rowcont">
       <textarea  id="score"class="text"readonly disabled> Score: </textarea>
       <button class="btn"id="end"><a href="/login"><i class="fa fa-home"></i>
       End Game</a>
   </button>
</div>

</div>
<div class="modal modalm" id="donepop">
    <div class="modal-c" id="animaldone">
    All done! Your score's been added.
    <br>
    <button type="button" class="btn btn-dark" ><a href="/animal">Play Again</a></button>
    <button type="button" class="btn btn-dark" ><a href="/login">Back to Home Page</a></button>
    </div>
</div>
</div>
</game-page>
<script src="user-form.js"> </script>