<div class="mpopup" id="tips_1">
    <h1>Welcome to AS Social</h1>
    <h2>We appreciate you.</h2>
    <h3>Here are a couple tips to help you</h3>
    <h4>1 of 4</h4>
    <button id = "next1">Next</button>
</div>
<div class="popup" id="tips_2">
    <h1>To share a post:</h1>
    {{!-- include screenshots --}}
    <button id = "next2">Next</button>
</div>
<div class="popup" id="tips_3">
    <h1>To make a post:</h1>
    {{!-- include screenshots --}}
    <button id = "next3">Next</button>
</div>
<div class="popup" id="tips_4">
    <button id="tips-close" >&times</button>
    <h1>To flag a post:</h1>
    {{!-- include screenshots --}}
    <h3>You're all set! Close this to enjoy the rest of the application.</h3>
    <input type="checkbox" id="donots" name="donots">
    <label for="donots">Do Not Show Again</label>
</div>

<h3>Best Score: </h3>
<h4>Leaderboard</h4>
{{!-- make a table  --}}