<div class="logo">

    <h2>
        {{logo}}
    </h2>
    <h3>Lets talk</h3>
</div>
<div class="user">
<p>Share your expriences with A & S </p>
<p>
    <button id="signin">Sign-in</button>
</p>
<p>
    <button id="login">Login</button>
</p>

</div>
