.container1 > div{
  position: fixed;
}
#logo{
  top: 6em;
}
#user{
  top: 5em;
  right: -1%;
}
#sign-up{
  top: 2em;
  right: -4%;
}
#closeTable{
  top: 5em;
  right: 14.75%;
  font-size: 12px;
  opacity: 1;
}
#addLevel{
  top: 5em;
  right: -3%;
  font-size: 12px;
  opacity: 1;
}

#log-in{ 
  top: 2em;
  right: 9%;
}
.btn {
  background-color: rgb(255, 30, 199);
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(168, 43, 112);
}
.container2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center
}

.button1{
  position: absolute;
  background: rgb(168, 62, 172);
  border: none;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 16px;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
body{
  background-color: #563e91;
  background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: linear-gradient(to 45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  color: black !important;
  font-size: 17px !important;
}
h3{
  font-size: 25px;
}
.modalm{
  display: none;
  color: black;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0.9;
  background-color: black;
  height: 100%;
  width: 100%; /* Could be more or less, depending on screen size */
  padding: 16px;
}
.game2{
  border: 2px solid palevioletred;
  border-radius: 5px;
}
* {box-sizing: border-box;}
.flexDiv > button{
display:flex;
flex-direction: row;
justify-content:space-evenly;
}
.close{
  float: right !important;
}
* {box-sizing: border-box;}
#flexx{
  height: 200px;
}
.flexcont{
  top:5em;
  display: flex;
  flex-direction: row;
}
.animal .text {
  position: fixed;
  top: 12em;
  right: 15em;
  width:150px;
  padding: 20px;
	overflow:hidden;
	color:white;
	font-family:'Times New Roman', Times, serif;
	font-size:22px;
	resize:none;
  line-height:10px;
  background-color: black;
}
.modalm-c{
  top: 0em;
  right: 2em;
}

.mybuttn{
  background: rgb(230, 164, 224);
  font-size: 15px;
  padding: 2px 3px;
}
#play-a{
  top: 5em;
  left: 10%;
}
#animaldone{
  text-align: center;
  top: 6em;
  right: -28%;
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  
  line-height: 66px;
  color: #fff;
  
  background-color: pink;
}
a.navig{
  font-size: 20px;
}
a.navig:hover{
  border-top: 2px solid rgb(253, 248, 238);
  border-bottom: 2px solid rgb(247, 240, 229);
  transition: width .5s;
}


/* .table{
  border-collapse: collapse;
  width: 75%;
  position: fixed;
  left: 15em;
  top:20em;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
tr:hover{
  background: pink;
} */
use:hover{
  cursor: pointer;
  padding-bottom: 30px;
  width: 40%;
  height: 15%
}
#back-home{
  top: 5em;
  left: 50%;
}
#next-level{
  top: 5em;
  right: -5%;
}

.mini{
  width: 100%
}
.levels{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}
a.levels:hover{
  color: pink;
}
.topbutton{
  position: fixed;
  width: 5px;
}
#editp{
  right: -16.9em;
  top: 0.8em;
}
#logoutb{
  right: -26.5em;
  top: -1.5em;
}
h2{
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
h1{
  font-size: 14px !important;
  font-family: 'Times New Roman', Times, serif;
}
ul{
  font-size: 14px !important;
}
h2 div{
  font-weight: bold;
  display: inline;
}
caption{
  font-size: 25px;
}
label{
  display: inline;
  font-size: 15px;
}

.content {
  position: fixed;
  width: 22%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  top: 12.8em;
  right: 0em;
}
button.accordion.collapsed:after {
  content: '\002B';
}

button.accordion:after {
  content: '\2212';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.accordion{
  font-size: 14px;
}

#newsign{
  text-align: center;
}
.modal{
  color: black;
  padding: 100px;
}

.modal-c{
  font-size: 15px;
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-size: 20px;
  opacity: 1;
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 3px solid pink;
  width: 35%; /* Could be more or less, depending on screen size */
  padding: 16px;
  /* text-align: center; */

}
.modal-sm {
  max-width: 400px !important;
}
.modal-header {
  display: block !important;
}
.popupbuttons{
  font-size: 1rem;
}
.aspects{
  padding-left: 250px;
}
.colorwhite{
  color: white;
}
.unstyled-button {

  top: 5em;
}
/* .box {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-80%);
} */
.notifications {
  width:45px;
  height:45px;
  position: fixed;
  top: 1em;
  right: 21em;
  background:#fff;
  border-radius:30px;
  box-sizing:border-box;
  text-align:center;
}
.notifications:hover {
  position: fixed;
  top: 3em;
  right: 20em;
  width:200px;
  height:40px;
  text-align:left;
  padding:0 15px;
  background:#ff2c74;
  transform:translateY(-100%);
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
}
.notifications:hover .fa {
  color:#fff;
}
.notifications .fa {
  color:#cecece;
  line-height:60px;
  font-size:20px;
}
.notifications .num {
  position:absolute;
  top:0px;
  right:-5px;
  width:25px;
  height:25px;
  border-radius:50%;
  background:#ff2c74;
  color:#fff;
  line-height:25px;
  font-family:sans-serif;
  text-align:center;
}
.notifications:hover .num {
  position: relative;
  background:transparent;
  color:#fff;
  font-size:18px;
  top:0px;
}
.notifications:hover .num:after {
  content:' Notifications';
}
ul.notif {
  position:absolute;
  left:0;
  top:41px;
  margin:0;
  width:100%;
  background:#fff;
  padding:20px;
  box-sizing:border-box;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px;
  display:none;
}
.notifications:hover ul.notif {
  display:block;
}
ul.notif li {
  list-style:none;
  padding:6px 0;
  display:flex;
}
ul.notif li:last-child {
  border-bottom:none;
}
ul.notif li .icon {
  width:20px;
  height:20px; 
  background:#ccc;
  border-radius:50%;
  text-align:center;
  line-height:24px;
  margin-right:15px;
}
ul.notif li .icon .fa {
  color:#fff;
  font-size:16px;
  line-height:24px;
}
ul.notif li .text {
  position:relative;
  font-size: 12px;
  top:0px;
  left:3px;
  cursor:pointer;
}
ul.notif li:hover .text {
  color:#ff2c74;
}
.animal{
  background-color: black;
}
#endgame{
  position: fixed;
  top: 32.5em;
  right: 37em;
}
#endgame a{
  font-size: 15px !important;
  color: white !important;
}