div.logo{

}
div.user{

}
div{

}
h2{

}
h3{
    
}
p{

}
#signin{

}
#login{

background: rgb(223, 113, 223)
}
.log_pop{
display:none;
background: rgb(212, 152, 209)
}
.sign_up{
    display: none;
    background: rgb(212, 152, 209)
}