div.logo{

}
div.user{

}
div{

}
h2{

}
h3{
  color: rgb(255, 192, 227)  
}
p{
position: relative;
align-content: center;
}
#sign-in{
background: rgb(230, 164, 224)
}
#log-in{

background: rgb(230, 164, 224)
}
.log_popup{
display:none;
background: rgb(212, 152, 209)
}
.sign_popup{
    display: none;
    background: rgb(212, 152, 209)
}